{% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'login/images/icons/favicon.ico' %}"/>

    <link rel="stylesheet" href="{% static 'assets/vendors/iconfonts/mdi/css/materialdesignicons.css' %}">
    <!-- endinject -->
    <!-- vendor css for this page -->
    <!-- End vendor css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'assets/css/shared/style.css' %}">
    <!-- endinject -->
    <!-- Layout style -->
    <link rel="stylesheet" href="{% static 'assets/css/demo_1/style.css' %}">


    <!--page body ends -->
    <!-- SCRIPT LOADING START FORM HERE /////////////-->
    <!-- plugins:js -->
    <script src="{% static 'assets/vendors/js/core.js' %}"></script>
    <!-- endinject -->
    <!-- Vendor Js For This Page Ends-->
    <script src="{% static 'assets/vendors/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/vendors/chartjs/Chart.min.js' %}"></script>
    !--<script src="{% static 'assets/js/charts/chartjs.addon.js' %}"></script>
    <!-- Vendor Js For This Page Ends-->
    <!-- build:js -->
    <script src="{% static 'assets/js/template.js' %}"></script>
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    <!-- endbuild -->